body {
	padding:	0;
	margin:		0;
	text-align: center;
	background: #fff;
}

#navigation {
	list-style-type: none;
	border-bottom: 	 2px solid #777;
	margin: 		 0;
	padding:		 0;
	background: 	 url('images/nav_bg.png') #f1f1f1;
}

#navigation li {
	display:		 inline-block;
	cursor: 		 pointer;
	padding:		 20px;
	
}

#navigation li:hover {
	background: rgba(0,0,0,0.1);
}

#categories {
	margin:		30px 0;
}

#categories a:first-child {
	margin-left:0;	
}
#categories a, input[type="submit"], .button {
	text-decoration: none;
	display:	inline-block;
	background: #00D8FF;
	font:		normal 15px/35px 'Verdana', sans-serif;
	padding:	0 20px;
	color: 		white;
	border-radius:5px;
	margin-left:20px;
}

.button {
	margin-left:0;
	border:none;
	cursor:pointer;
}

#categories a:hover,  input[type="submit"]:hover {
	background: #0AA9CF;
}

.project {
	display:	inline-block;
	margin:		0 10px 10px;
	border: 	2px solid #ebebeb;
	padding: 	15px;
	min-width: 100px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-info {
	cursor:	pointer;
}

.highlighted {
	margin:		0 5%;
	min-width:	85%;
	max-width:  85%;
	text-align:	left;
}

.faq textarea {
	height: 50px;
}

textarea {
	border:		2px solid #777;
	resize:		none;
	width:		30%;
	vertical-align:middle;
	box-sizing:	border-box;
}

input[type="submit"]{
	line-height:		50px;
	border:				none;
	cursor:				pointer;
}

#login, #signin {
	position:relative;
}

#login-form, #signin-form {
	position: absolute;
	top: 100%;
	left:0;
	text-align: left;
	border: 2px solid #777;
	padding: 15px;
	background: #fafafa;
	display: none;
}

#login-form input, #signin-form input {
	display: block;
	margin: 10px 0;
}

#login-form input[type="submit"], #signin-form input[type="submit"]{
	width:100%;
	line-height: 30px;
	margin: 15px 0 0;
}

.active {
	background-color: rgba(0,0,0, 0.1);
}

.wrong-input {
	box-shadow: 0 0 5px red;
	border: 2px solid transparent;
}

.wrong-input-text {
	color:red;
	padding: 5px 0; 
	margin:0;
}

#popup {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

#popup div {
	font-size: 16px;
	position: absolute;
	background: #fff;
	display: inline-block;
	border: 2px solid #05f29b;
	border-radius: 8px;
	top:10%;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	padding: 30px;
}