
html, body, div, span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,code,del,em,img,q,small,
strong,sub,sup,tt,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,summary,time,
mark {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border-style: none;
  font-size: 0px;
  white-space: nowrap;
  vertical-align: middle;
  max-width: 100%;
}

button::-moz-focus-inner {
  border: 0;
}

input,
textarea,
select {
  outline: none;
  color: #333;
  vertical-align: middle;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
a {
  outline: none;
  text-decoration: none;
}
a:active {
  outline: none;
}
h1,h2,h3,h4,h5 {
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-size: 190%;
  line-height: 1.2;
}

h2 {
  font-size: 166.6666667%;
  text-align: center;
  line-height: 2.5;
}

h3 {
  font-size: 133.33333%;
  line-height: 1.2;
}

address,
time {
  font-style: normal;
}
button, span,input,a,
button:active,
span:active,
a:active,
button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body { text-align: center; background: #fff; font-family: 'Roboto', sans-serif;	color:#fff; 
	background: url('images/background.jpg') no-repeat;	background-size:cover; }

.navigation { list-style-type: none; background: #3C4447; }

.navigation li { display: inline-block; cursor: pointer; padding: 0 20px; line-height: 4; }

.navigation li:first-child { float: left; }

.navigation li:nth-child(2) { width:50%; }

.navigation li:hover,
.navigation li.active { background: rgba(255,255,255,0.1); }

.navigation li.active .login-item { display: block; }

#login, #signin, #logout { position:relative; float: right; }

#login *, #signin * { line-height: 1.5; }

.login-item { background: #4F5659; position: absolute; top: 100%; right:0; text-align: left; padding: 15px; display: none;
	border-radius: 0 0 5px 5px; width: 300px; }

.login-item input { display: block; width:100%;	margin: 10px 0;	border-radius:5px; border:none; padding: 0.5em 1em; }

.login-item input:focus { outline: none; }

.login-item input[type="submit"] { margin: 15px 0 0; width:auto; display:inline-block; }

#search {
	border-radius:1em;
	line-height:2.4;
	padding: 0 3em;
	border: none;
	width:100%;
	background: url('images/Search.png')  5px center no-repeat #fff;
	background-size: 1.5em;
}

#search:focus {
	box-shadow: 0 0 3px #f1f1f1;
	outline:none;
}

.wrong-input {
	box-shadow: 0 0 5px red;
	border: 2px solid transparent;
}

.wrong-input-text {
	color:red;
	padding: 5px 0; 
	margin:0;
}

#categories a:first-child {
	margin-left:0;	
}
#categories a, input[type="submit"], .button {
	text-decoration: none;
	display:	inline-block;
	background: #5176A6;
	padding:	0 20px;
	border-radius:5px;
	color:white;
	margin-left:20px;
	font-size: 1.1em;
	line-height:2.2;
}

.button {
	margin-left:0;
	border:none;
	cursor:pointer;
}

#categories {
	margin:	1em 0 2.5em;
}

#categories a:hover,  input[type="submit"]:hover {
	background: #395273;
}

.project {
	vertical-align:top;
	display:	inline-block;
	margin:		0 10px 20px;
	border-radius: 5px;
	min-width: 100px;
	background: rgba(0,0,0,0.4);
	min-width:260px;
	max-width:400px;
	padding: 0.5em;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 1.5;
}

.main-info {
	cursor:	pointer;
}

.project-image {
	height:10em;	
	background-size: cover;
	background-position: center;
	margin-bottom:0.5em;
}

.main-info h3 {
	height: 1.5em;
}
.main-info p {
	height: 1.5em;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.highlighted {
	margin:		auto 5%;
	min-width:	85%;
	max-width:	85%;
	text-align:	left;
}

.faq textarea {
	height: 50px;
}

textarea {
	border:		none;
	resize:		none;
	width:		30%;
	vertical-align:middle;
	box-sizing:	border-box;
	border-radius: 5px;
	font-family: inherit;
	color: inherit;
	background-color: rgba(255,255,255,0.2);
}

input[type="submit"]{
	line-height:		50px;
	border:				none;
	cursor:				pointer;
}

#popup {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

#popup div {
	font-size: 1.2em;
	position: absolute;
	background: #fff;
	display: inline-block;
	border: 2px solid #05f29b;
	border-radius: 8px;
	top:10%;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	padding: 30px;
}
#quote {
	display: inline-block;
	padding: 7em 5% 1em;
	text-align:right;
}
#quote > p:first-child {
	font-size: 2em;
	line-heihgt:1;
}
#author {
	display: inline-block;
}
#author:before {
  content: '©';
  padding-right: 5px;
  line-height: 1;
  font-size: 0.8em;
}

.video {
	float: right;
}