body {
	padding:	0;
	margin:		0;
	text-align: center;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	color:#fff;
	background: url('images/background.jpg');
	background-size:cover;
}

* {
	box-sizing: border-box;
}

#navigation {
	list-style-type: none;
	margin: 		 0;
	padding:		 0;
	background: 	 #3C4447;
}

#navigation li {
	display: inline-block;
	cursor: pointer;
	padding: 0 20px;
	line-height: 4;
}

#navigation li:first-child {
	float: left;
}

#navigation li:nth-child(2) {
	width:50%;
}

#search {
	border-radius:1em;
	line-height:2.6;
	padding: 0 3em;
	border: none;
	width:100%;
	background: url('images/Search.png')  5px center no-repeat #fff;
	background-size: 1.5em;
}

#search:focus {
	box-shadow: 0 0 3px #f1f1f1;
	outline:none;
}

#navigation li:hover {
	background: rgba(255,255,255,0.1);
}

#login, #signin {
	position:relative;
	float: right;
}
#login *, #signin * {
	line-height: 1.5;
}

#login-form, #signin-form {
	background: #4F5659;
	position: absolute;
	top: 100%;
	right:0;
	text-align: left;
	padding: 15px;
	display: none;
	border-radius: 0 0 5px 5px;
	width: 300px;
}

#login-form input, #signin-form input {
	display: block;
	width:100%;
	margin: 10px 0;
	border-radius:5px;
	border:none;
	padding: 0.5em 1em;
}
#login-form input:focus, #signin-form input:focus {
	outline: none;
}

#login-form input[type="submit"], #signin-form input[type="submit"]{
	margin: 15px 0 0;
	width:auto;
	display:inline-block;
}

.active {
	background-color: rgba(255,255,255, 0.1);
}

.wrong-input {
	box-shadow: 0 0 5px red;
	border: 2px solid transparent;
}

.wrong-input-text {
	color:red;
	padding: 5px 0; 
	margin:0;
}

#categories a:first-child {
	margin-left:0;	
}
#categories a, input[type="submit"], .button {
	text-decoration: none;
	display:	inline-block;
	background: #00D8FF;
	font:		normal 15px/35px 'Verdana', sans-serif;
	padding:	0 20px;
	color: 		white;
	border-radius:5px;
	margin-left:20px;
}

.button {
	margin-left:0;
	border:none;
	cursor:pointer;
}

#categories {
	margin:		30px 0;
}

#categories a:hover,  input[type="submit"]:hover {
	background: #0AA9CF;
}

.project {
	display:	inline-block;
	margin:		0 10px 10px;
	border: 	2px solid #ebebeb;
	padding: 	15px;
	border-radius: 5px;
	min-width: 100px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-info {
	cursor:	pointer;
}

.highlighted {
	margin:		0 5%;
	min-width:	85%;
	max-width:  85%;
	text-align:	left;
}

.faq textarea {
	height: 50px;
}

textarea {
	border:		2px solid #777;
	resize:		none;
	width:		30%;
	vertical-align:middle;
	box-sizing:	border-box;
}

input[type="submit"]{
	line-height:		50px;
	border:				none;
	cursor:				pointer;
}

#popup {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

#popup div {
	font-size: 16px;
	position: absolute;
	background: #fff;
	display: inline-block;
	border: 2px solid #05f29b;
	border-radius: 8px;
	top:10%;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	padding: 30px;
}